<script type="text/ng-template" id="templates/station-picker.html">
    <div class="book-air-travel-option-container clickable">
        <div class="booking-strip--form-section booking-strip--form-section-origin">
            <div class="booking-strip--form-section-title">
                {% title %}
            </div>
            <input class="location-super-sized"
                   id="{% id %}-station-picker-input" type="text" ng-model="stationCode"
                   typeahead="{% buildTypeahead(from) %}"
                   typeahead-editable="false"
                   ng-required="true"
                   select-on-click
                   typeahead-on-select="onStationSelected()"
                   autocomplete="off"
                   autocorrect="off"
                   autocapitalize="off">

            <div id="{% id %}-station-picker-binding" class="booking-form--location-footer">
                {% stationCode | station %}
            </div>
        </div>
    </div>
</script>
